@import "tailwindcss";

@theme {
  /* Define the Harvard Palette */
  --color-harvard-crimson: #A51C30;
  --color-harvard-black: #1E1E1E;
  --color-harvard-parchment: #F3F3F1;
  --color-harvard-silver: #BAC5C6;
  --color-harvard-slate: #8996A0;
  --color-harvard-taupe: #8C8179;

  /* Define Fonts */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-merriweather), ui-serif, Georgia, serif;
}

@layer base {
  body {
    /* Apply the custom background and text color immediately */
    @apply bg-harvard-parchment text-harvard-black antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold tracking-tight;
  }
}